<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ugpm.dao.CartMapper">

    <sql id="Base_Column_List">
        id, userId, productId
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.ugpm.pojo.Cart">
        select
        <include refid="Base_Column_List" />
        from cart
        where id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insert">
        insert into cart (id,userId,productId) VALUES (#{id},#{userId},#{productId})
    </insert>
</mapper>